.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Custom scrollbar for WebKit browsers */
.scrollbar::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the track */
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scroll thumb */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scroll thumb on hover */
}

/* Custom scrollbar for Firefox */
.scrollbar {
  scrollbar-width: thin;
  /* Width of the scrollbar */
  scrollbar-color: #888 #f1f1f1;
  /* Color of the scroll thumb and track */
}